body {
    font-family: Arial, sans-serif;
    background-color: #09090B;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-top: 0;
}

.question {
    margin-bottom: 20px;
}

.option {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.option.selected {
    outline: 2px solid rgb(49, 68, 10); 
}

.option:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

.option.satisfeito {
    background-color: #4CAF50;
    color: white;
}

.option.neutro {
    background-color: #008CBA;
    color: white;
}

.option.insatisfeito {
    background-color: #FF6347;
    color: white;
}

.comments {
    margin-bottom: 20px;
    text-align: left;
}

textarea {
    width: 96.5%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.submit {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #005f79;
}
